{% extends 'base.html' %} {% block content %}

<h2 class="text-center" style="background-color: gray;">EMPLOYE DETAILS</h2>
<table class="table table-dark table-hover">
    <thead>
        <th>s no</th>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Bonus</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Date</th>
    </thead>
    {% if data %}
    <div>
        {% for d in data %}
        <tbody>
            <td>{{ forloop.counter }}</td>
            <td>{{d.id}}</td>
            <td>{{d.fname}}</td>
            <td>{{d.lname}}</td>
            <td>{{d.salary}}</td>
            <td>{{d.bonus}}</td>
            <td>{{d.dept}}</td>
            <td>{{d.phone}}</td>
            <td>{{d.role}}</td>
            <td>{{d.hired_date}}</td>
        </tbody>
        {% endfor %}
    </div>
    {% endif %}
</table>

{% endblock %}